<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>1</real>
				<real>0.4375</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>1.5603864734</real>
				<real>-0.5625</real>
				<real>0.5603864734</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.1714975845</real>
				<real>1.4375</real>
				<real>-0.8285024155</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.4375</real>
				<real>1</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.5625</real>
				<real>-0.01932367099999999</real>
				<real>0</real>
				<real>-1.019323671</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.4375</real>
				<real>1.9855072464</real>
				<real>2</real>
				<real>0.9855072464</real>
			</array>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.555556</real>
				<real>0.3125</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>-0.2463763671</real>
				<real>-0.6875</real>
				<real>-0.8019323671</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.2053144541</real>
				<real>1.3125</real>
				<real>-0.3502415459</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.9999995559999999</real>
				<real>0.25</real>
				<real>0.555555556</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>1.925120329</real>
				<real>-0.75</real>
				<real>1.480676329</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>1.2415454493</real>
				<real>1.25</real>
				<real>0.7971014493</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.25</real>
				<real>0.9999995559999999</real>
				<real>0.625</real>
				<real>0.555555556</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.75</real>
				<real>1.792270087</real>
				<real>-0.375</real>
				<real>1.347826087</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.25</real>
				<real>1.4275357874</real>
				<real>1.625</real>
				<real>0.9830917874</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.3125</real>
				<real>0.555556</real>
				<real>0.625</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.6875</real>
				<real>0.03864778740000008</real>
				<real>-0.375</real>
				<real>-0.5169082126</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.3125</real>
				<real>-0.04589327539999999</real>
				<real>1.625</real>
				<real>-0.6014492754</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.625</real>
				<real>0.333333</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.375</real>
				<real>0.1352653671</real>
				<real>0</real>
				<real>-0.1980676329</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.625</real>
				<real>0.01690787919999998</real>
				<real>2</real>
				<real>-0.3164251208</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.625</real>
				<real>1.000000333</real>
				<real>1</real>
				<real>0.333333333</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.360054348</real>
				<real>1.512077628</real>
				<real>0.01494565199999998</real>
				<real>0.845410628</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.639945652</real>
				<real>1.75845444</real>
				<real>2.014945652</real>
				<real>1.09178744</real>
			</array>
		</dict>
	</array>
	<key>7</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.388889</real>
				<real>0.21875</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>-0.08937186960000004</real>
				<real>-0.78125</real>
				<real>-0.4782608696</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.1400967295</real>
				<real>1.21875</real>
				<real>-0.2487922705</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.9999998889999999</real>
				<real>0.34375</real>
				<real>0.388888889</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>1.5507245266</real>
				<real>-0.65625</real>
				<real>0.9396135266</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>1.3236713865</real>
				<real>1.34375</real>
				<real>0.7125603865</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.21875</real>
				<real>0.388889</real>
				<real>0.34375</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.78125</real>
				<real>0.1014493865</real>
				<real>-0.65625</real>
				<real>-0.2874396135</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.21875</real>
				<real>-0.05313998550000004</real>
				<real>1.34375</real>
				<real>-0.4420289855</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.666667</real>
				<real>0.71875</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>-0.02898517389999999</real>
				<real>-0.28125</real>
				<real>-0.6956521739</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>-0.07246343479999995</real>
				<real>1.71875</real>
				<real>-0.7391304348</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.999999667</real>
				<real>0.71875</real>
				<real>0.666666667</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>1.49275329</real>
				<real>-0.28125</real>
				<real>1.15942029</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>1.454105947</real>
				<real>1.71875</real>
				<real>1.120772947</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.71875</real>
				<real>0.5</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.28125</real>
				<real>0.1231884058</real>
				<real>0</real>
				<real>-0.3768115942</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.71875</real>
				<real>-0.4637681159</real>
				<real>2</real>
				<real>-0.9637681159</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.71875</real>
				<real>1</real>
				<real>1</real>
				<real>0.5</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.28125</real>
				<real>1.3164251208</real>
				<real>0</real>
				<real>0.8164251208</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.71875</real>
				<real>1.963768116</real>
				<real>2</real>
				<real>1.463768116</real>
			</array>
		</dict>
	</array>
	<key>4</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>1</real>
				<real>0.5625</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>0.2729468599</real>
				<real>-0.4375</real>
				<real>-0.7270531401</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.3115942029</real>
				<real>1.5625</real>
				<real>-0.6884057971</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.5625</real>
				<real>0.5</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.4375</real>
				<real>-0.2922705314</real>
				<real>0</real>
				<real>-0.7922705314</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.5625</real>
				<real>0.1739130435</real>
				<real>2</real>
				<real>-0.3260869565</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.5625</real>
				<real>1</real>
				<real>0.71875</real>
				<real>0.5</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.4375</real>
				<real>1.683574879</real>
				<real>-0.28125</real>
				<real>1.183574879</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.5625</real>
				<real>1.4347826087</real>
				<real>1.71875</real>
				<real>0.9347826087</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.71875</real>
				<real>1</real>
				<real>1</real>
				<real>0.5</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.28125</real>
				<real>1.345410628</real>
				<real>0</real>
				<real>0.845410628</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.71875</real>
				<real>1.739130435</real>
				<real>2</real>
				<real>1.239130435</real>
			</array>
		</dict>
	</array>
	<key>5</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.611111</real>
				<real>0.34375</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>0.1473428841</real>
				<real>-0.65625</real>
				<real>-0.4637681159</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.1642510966</real>
				<real>1.34375</real>
				<real>-0.4468599034</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>1.000000111</real>
				<real>0.34375</real>
				<real>0.611111111</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>1.690821367</real>
				<real>-0.65625</real>
				<real>1.301932367</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>1.272946971</real>
				<real>1.34375</real>
				<real>0.8840579710000001</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.444444</real>
				<real>0.65625</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>0.08695607729999999</real>
				<real>-0.34375</real>
				<real>-0.3574879227</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>0.1908208116</real>
				<real>1.65625</real>
				<real>-0.2536231884</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>1.000000444</real>
				<real>0.65625</real>
				<real>0.444444444</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>1.4927540676</real>
				<real>-0.34375</real>
				<real>0.9371980676</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>1.2922709758</real>
				<real>1.65625</real>
				<real>0.7367149758</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.65625</real>
				<real>1</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.34375</real>
				<real>0.1932367149999999</real>
				<real>0</real>
				<real>-0.8067632850000001</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.65625</real>
				<real>1.5869565217</real>
				<real>2</real>
				<real>0.5869565217</real>
			</array>
		</dict>
	</array>
	<key>8</key>
	<array>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>0.611111</real>
				<real>0.34375</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>-0.198067744</real>
				<real>-0.65625</real>
				<real>-0.809178744</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>0.09661824639999994</real>
				<real>1.34375</real>
				<real>-0.5144927536</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0</real>
				<real>1.000000111</real>
				<real>0.34375</real>
				<real>0.611111111</real>
			</array>
			<key>top</key>
			<array>
				<real>-1</real>
				<real>1.917874507</real>
				<real>-0.65625</real>
				<real>1.528985507</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1</real>
				<real>1.516908324</real>
				<real>1.34375</real>
				<real>1.128019324</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.333333</real>
				<real>0.625</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>-0.1207732802</real>
				<real>-0.375</real>
				<real>-0.4541062802</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>-0.3816428454</real>
				<real>1.625</real>
				<real>-0.7149758454</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.666666333</real>
				<real>0.625</real>
				<real>0.333333333</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>1.422704981</real>
				<real>-0.375</real>
				<real>1.089371981</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>0.181159087</real>
				<real>1.625</real>
				<real>-0.152173913</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.34375</real>
				<real>0.999999667</real>
				<real>0.625</real>
				<real>0.666666667</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.65625</real>
				<real>2.002415126</real>
				<real>-0.375</real>
				<real>1.669082126</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.34375</real>
				<real>1.458936865</real>
				<real>1.625</real>
				<real>1.125603865</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.625</real>
				<real>0.335749</real>
				<real>0.813858696</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.375</real>
				<real>-0.2632848164</real>
				<real>-0.186141304</real>
				<real>-0.5990338164</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.625</real>
				<real>-0.695651966</real>
				<real>1.813858696</real>
				<real>-1.031400966</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.625</real>
				<real>1.000000333</real>
				<real>1</real>
				<real>0.333333333</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.375</real>
				<real>1.5362322174</real>
				<real>0</real>
				<real>0.8695652174</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.625</real>
				<real>2.106280527</real>
				<real>2</real>
				<real>1.439613527</real>
			</array>
		</dict>
		<dict>
			<key>centre</key>
			<array>
				<real>0.8125</real>
				<real>0.335749</real>
				<real>1.001358696</real>
				<real>0</real>
			</array>
			<key>top</key>
			<array>
				<real>-0.1875</real>
				<real>0.04589392750000004</real>
				<real>0.001358695999999993</real>
				<real>-0.2898550725</real>
			</array>
			<key>bottom</key>
			<array>
				<real>1.8125</real>
				<real>-0.3454104203</real>
				<real>2.001358696</real>
				<real>-0.6811594203</real>
			</array>
		</dict>
	</array>
</dict>
</plist>
